* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainDiv {
  margin: auto;
  background-color: beige;
  padding: 40px;
  border-radius: 7px;
  width: 700px;
  margin-top: 100px;

  &__heading {
    text-align: center;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__childDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__input {
    padding: 6px;
    width: 400px;
    border: 1px solid black;
    border-radius: 3px;
  }
  &__AddButton {
    background-color: #72bf78;
    width: 50px;
    border: none;
    height: 30px;
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
  }
  &__AddButton:hover {
    border: 1px solid black;
  }
  &__DeleteAllButton {
    background-color: #fb4141;
    width: 70px;
    border: none;
    height: 30px;
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
  }
  &__DeleteAllButton:hover {
    border: 1px solid black;
  }
  &__ul {
    margin-top: 30px;
    list-style-type: none;
    position: relative;
  }
  &__listItem {
    background-color: white;
    padding: 12px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
  }
  &__editButton {
    background-color: #ffe31a;
    width: 50px;
    border: none;
    height: 25px;
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
    float: inline-end;
  }
  &__editButton:hover {
    border: 1px solid black;
  }
  &__deleteButton {
    background-color: #fb4141;
    width: 70px;
    border: none;
    height: 25px;
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
    float: inline-end;
    margin-right: 10px;
  }
  &__deleteButton:hover {
    border: 1px solid black;
  }
}

@media screen and (max-width: "770px") {
  .mainDiv {
    margin-top: 200px;
    min-height: 600px;
  }
}
